{% extends 'FrontendBundle::base.html.twig' %}

{% block header %}
    {% include 'FrontendBundle:Commons:nav-top.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container container-main">
        {% block error %}
            <div class="row">
                <div class="col-md-12">
                    {# include 'FrontendBundle:Commons:flashes.html.twig' #}
                </div>
            </div>
        {% endblock %}

        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.dropdown-toggle, .dropdown-menu').hover(function (e) {
                        $(this).parent().addClass('open');
                    },
                    function (e) {
                        $(this).parent().removeClass('open');
                    });
        });
    </script>
{% endblock %}

{% block footer %}
    {% include 'FrontendBundle:Commons:footer.html.twig' %}
{% endblock %}